.homeSupport {
  background: $blue_1;
  color: $white;

  &__btn {
    padding: 0 4rem;
    height: 8rem;
    text-align: center;
    font-weight: bold;
    display: block;
    border-radius: 0.25rem;
    font-size: 1.1rem;
    color: $blue_1;
    background: $white;

    @include media-breakpoint-down("md") {
      margin-bottom: map-get($spacers, 2);
      height: auto;
      padding: 1rem 3rem 1rem 1rem;
      text-align: left;
    }
  }

  &__looking {
    text-align: right;

    &-link {
      font-size: 1.15rem;
      color: $white;
    }
  }
}
