.homeNewsEvents {
  &__h2 {
    color: $blue_1;
  }
  @include media-breakpoint-down("md") {
    &__container {
      max-width: none;
    }
  }

  &__cards {
    @include media-breakpoint-down("md") {
      overflow-x: auto;
      &-row {
        width: 1140px;
      }
    }
  }

  &__card {
    box-shadow: $box-shadow;
    width: 100%;

    @include media-breakpoint-down("md") {
      margin-bottom: map-get($spacers, 3);
    }

    &-img {
      height: 15rem;
      border-bottom: 8px solid $green_2;
    }

    &-body {
      padding: 2rem 1.5rem 1.5rem;
    }

    &-title {
      font-size: 1.2rem;
    }

    &-text {
      font-size: 1rem;
      margin-bottom: 2rem;
    }
  }

  &__media {
    &-body {
      font-size: 0.85rem;
    }

    &-logo {
      width: 3.125rem;
      height: 3.125rem;
      margin-top: -1rem;
    }
  }

  &__other-articles {
    text-align: right;

    &-link {
      font-size: 1.15rem;
    }
  }
}
