.homeProducts {
  background-color: $gray-50;

  &__h2 {
    color: $blue_1;
  }

  &__h3 {
    color: $green_1;
  }

  &__p {
    font-size: 1rem;
  }

  &__btn {
    min-width: 70%;
  }

  &__picture {
    padding: 2.5rem 0 1.25rem;
  }

  &__img {
    width: 9.5rem;
    height: 9.5rem;
  }
}
