.homeAbout {
  &__h2 {
    color: $blue_1;
  }

  &__h3 {
    color: $green_1;
  }

  &__p {
    font-size: 1rem;
  }

  &__icon {
    padding: 2.5rem 0 1.25rem;
  }

  &__picture {
    width: 5.375rem;
    height: 5.375rem;
  }

  &__img {
    width: 63%;
    height: 63%;
  }

  &__btn {
    min-width: 26%;
  }
}
