/* HERO */

.homeHero {
  padding: map-get($spacers, 4) 0;
  position: relative;

  @include media-breakpoint-down(sm) {
    padding: 0;

    .container {
      max-width: 100%;
      padding-left: 0;
      padding-right: 0;
      margin-bottom: -map-get($spacers, 4);
    }
  }
}

.heroRow {
  &__text {
    position: static;

    @include media-breakpoint-down(sm) {
      min-height: 16rem;
      position: relative;
    }
  }

  &__banner {
    position: absolute;
    background: url(images/main-banner.jpeg) no-repeat 50% 50%;
    background-size: cover;
    background-attachment: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }

  &__h1 {
    font-size: 4rem;
    font-weight: 600;
    color: $white;
    max-width: 35rem;
    text-align: right;
    position: relative;
    z-index: 1;
    width: 100%;

    @include media-breakpoint-down(md) {
      max-width: 100%;
      font-size: 3rem;
      margin-bottom: 0;
    }

    @include media-breakpoint-down(sm) {
      font-size: 2rem;
      text-align: center;
      padding: 0 3rem;
    }
  }
}
