.homeTestimonials {
  @include media-breakpoint-down("md") {
    &__container {
      margin-top: map-get($spacers, 4);
    }
  }

  &__img {
    height: 24rem;
    max-width: 100%;
  }

  &__h2 {
    color: $red_1;
  }

  &__p {
    font-size: 1.1rem;
  }
}
