<div class="container py-4">
  <div class="p-2 advancedSearch">
    <form>
      <fieldset>
        <div class="advancedSearch__legend d-flex pb-1 mb-1">
          <legend class="m-0">Car search</legend>
          <button type="button" class="btn btn-secondary btn-sm">Advanced search <i class="fas fa-chevron-right"></i></button>
        </div>
        <div class="advancedSearch__allowance form-group">
          <label>Your allowance type <i class="advancedSearch__icon far fa-question-circle"></i></label>
          <select class="form-control">
            <option value="DLA" selected="">DLA – Higher Rate Mobility Component of Disability Living
              Allowance</option>
            <option value="PIP">PIP / AFIP – Enhanced Rate of the Mobility Component of Personal Independence
              Payment</option>
            <option value="WPMS">War Pensioners’ Mobility Supplement</option>
          </select>
        </div>
        <div class="advancedSearch__makemodel form-group">
          <label>Make and Model <i class="advancedSearch__icon far fa-question-circle"></i></label>
          <div class="d-flex justify-content-between">
            <div class="advancedSearch__w50">
              <select class="form-control">
                <option value=""></option>
                <option>Abarath</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
              </select>
            </div>
            <div class="advancedSearch__w50">
              <select class="form-control">
                <option value=""></option>
                <optgroup label="Abarath">
                  <option>595</option>
                </optgroup>
              </select>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label>Car types <i class="advancedSearch__icon far fa-question-circle"></i></label>
          <select class="form-control">
            <option value="Small cars">Small cars</option>
            <option value="Medium cars">Medium cars</option>
            <option value="Family cars">Large cars</option>
            <option value="Estates">Estates</option>
            <option value="MPVs">MPVs</option>
            <option value="SUVs/4x4s">SUVs</option>
            <option value="Coupes/Roadsters/Cabriolets">Coupes and Convertibles</option>
          </select>
        </div>
        <div class="form-group">
          <label>Transmission </label>
          <div class="d-flex flex-wrap">
            <div class="custom-control custom-checkbox w-50">
              <input type="checkbox" class="custom-control-input" id="customCheck1">
              <label class="custom-control-label" for="customCheck1">Manual</label>
            </div>
            <div class="custom-control custom-checkbox w-50">
              <input type="checkbox" class="custom-control-input" id="customCheck2">
              <label class="custom-control-label" for="customCheck2">Automatic</label>
            </div>
            <div class="custom-control custom-checkbox w-50">
              <input type="checkbox" class="custom-control-input" id="customCheck3">
              <label class="custom-control-label" for="customCheck3">Semi-Automatic</label>
            </div>
          </div>
        </div>
        <div class="d-flex justify-content-between mb-2">
          <button class="advancedSearch__w50 btn btn-sm btn-secondary">Reset search</button>
          <button class="advancedSearch__w50 btn btn-sm btn-primary">Find cars</button>
        </div>
        <p class="text-center"><strong> 2,045</strong> cars available</p>
        <div class="d-flex align-items-center searchContainer">
          <a href="#" class="searchContainer__a d-inline-block w-50">Search for Wheelchair Accessible
            Vehicles</a>
          <a href="#" class="searchContainer__a d-inline-block w-50">Search for Scooters and Powered
            Wheelchairs</a>
        </div>
      </fieldset>
    </form>
  </div>
</div>
