<div class="container py-4">
  <div class="alert alert-primary" role="alert">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas omnis eligendi voluptatum ab maiores porro deleniti facilis facere dolor saepe ad fuga alias delectus pariatur voluptatem iure, quisquam quis totam.
  </div>
  <div class="alert alert-secondary" role="alert">
    A simple secondary alert—check it out!
  </div>
  <div class="alert alert-success" role="alert">
    A simple success alert—check it out!
  </div>
  <div class="alert alert-warning" role="alert">
    A simple danger alert—check it out!
  </div>
  <div class="alert alert-danger alert-dismissible fade show" role="alert">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas omnis eligendi voluptatum ab maiores porro deleniti facilis facere dolor saepe ad fuga alias delectus pariatur voluptatem iure, quisquam quis totam.
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="alert alert-info" role="alert">
    A simple info alert—check it out!
  </div>
  <div class="alert alert-dark" role="alert">
    A simple dark alert—check it out!
  </div>
</div>
