.advancedSearch {
  &__form {
    background: $white;
    border-radius: $border-radius;
    box-shadow: $box-shadow-lg;

    @include media-breakpoint-down("sm") {
      border-radius: 0;
    }
  }

  &__legend {
    font-weight: 700;
    color: $blue_1;
  }

  &__label {
    font-weight: bold;
    font-size: 1rem;
    margin-bottom: 1.2rem;
  }

  &__icon {
    display: inline-block;
    margin-left: 1rem;
    font-size: 1.2rem;
  }

  &__select.form-control {
    height: calc(2.7rem + 4px) !important;
  }

  &__w50 {
    width: 48%;
  }

  &__btn {
    margin: 1.5rem 0;
  }

  &__link {
    font-weight: bold;
    display: block;
    padding: 0.4rem 0;
  }
}

.searchContainer {
  padding-top: 1rem;
  width: 100%;
  @include media-breakpoint-down("md") {
    flex-direction: column;
  }
  @include media-breakpoint-down("sm") {
    padding: 3rem 1.5rem;
    background: $blue_1;
  }

  &__link {
    width: 48%;
    display: flex;
    background: $white;
    padding: 0.7rem;
    border-radius: 0.25rem;
    text-align: center;
    font-weight: bold;
    box-shadow: $box-shadow-lg;
    align-items: center;

    @include media-breakpoint-down("md") {
      width: 100%;
      margin-bottom: 0.5rem;
      padding: 1rem 3rem 1rem 1rem;
      text-align: left;
      font-size: 1.1rem;
    }
  }
}
