.mainNav {
  background: $blue_1;

  &__link {
    font-size: 1.1rem;
  }

  .dropdown-menu {
    border: 0;
    border-radius: 0;
    left: 0;
    right: 0;
    margin: 0;
  }
}

.logo {
  padding: 0;
  height: 64px;
  width: 170px;
  display: inline-block;
  background: $black;
}
