
@font-face {
  font-family: "VAG Rounded W01 Bold";
  src: url("fonts/e043dd77-7cee-4a3c-b628-822e3bdbc8ac.eot");
  src:
    url("fonts/e043dd77-7cee-4a3c-b628-822e3bdbc8ac.eot?#iefix") format('embedded-opentype'),
    url("fonts/5b73c12f-4a5a-4d8c-81be-1babf4a3f3dd.woff") format("woff"),
    url("fonts/5638af5b-03a3-4601-a279-943ee3b29448.ttf") format("truetype"),
    url("fonts/40964335-0b3a-4c89-895c-1e8f58438faa.svg#40964335-0b3a-4c89-895c-1e8f58438faa") format("svg");
}

@font-face {
  font-family: "VAG Rounded W01 Light";
  src: url("fonts/8eb3a61c-2df5-402f-aacc-7733752abec6.eot");
  src:
    url("fonts/8eb3a61c-2df5-402f-aacc-7733752abec6.eot?#iefix") format('embedded-opentype'),
    url("fonts/67ca5d86-3357-4491-aa9f-6e7ff54b2e2e.woff") format("woff"),
    url("fonts/888f8505-0e2c-41e8-af58-21279dda85e5.ttf") format("truetype"),
    url("fonts/ca4650e2-5aa3-4755-9c6d-256cbb4f5115.svg#ca4650e2-5aa3-4755-9c6d-256cbb4f5115") format("svg");
}

@font-face {
  font-family: "FS Me Web Regular";
  src: url("fonts/fs_me_web-regular.eot");
  src:
    url("fonts/fs_me_web-regular.eot?#iefix") format('embedded-opentype'),
    url("fonts/fs_me_web-regular.woff") format("woff"),
    url("fonts/fs_me_web-regular.svg") format("svg");
}
