body,
div {
  &.default {
    color: $gray-900;
  }

  &.colcon {
    background-color: $colcon;
    color: $black;

    a {
      color: $black;
    }
  }

  &.dark {
    background-color: $gray-900;
    color: $white;

    a {
      color: $white;
    }
  }
}

.title {
  font-weight: 600;
  font-size: 2.1rem;
  margin-bottom: 1.5rem;
}
