@mixin responsive-visibility($parent) {
  #{$parent} {
    display: block !important;
  }

  table#{$parent} {
    display: table !important;
  }

  tr#{$parent} {
    display: table-row !important;
  }

  th#{$parent},
  td#{$parent} {
    display: table-cell !important;
  }
}

// [converter] $parent hack
@mixin responsive-invisibility($parent) {
  #{$parent} {
    display: none !important;
  }
}

@mixin breakpoint($point) {
  @if $point == "desktop" {
    @media (min-width: $screen-xl-min) {
      @content;
    }
  }

  @else if $point == "laptop" {
    @media (min-width: $screen-lg-min) {
      @content;
    }
  }

  @else if $point == "tablet" {
    @media (min-width: $screen-md-min) {
      @content;
    }
  }

  @else if $point == "phablet" {
    @media (min-width: $screen-sm-min) {
      @content;
    }
  }

  @else if $point == "mobileonly" {
    @media (max-width: $screen-sm-min) {
      @content;
    }
  }
}
