/** Import Bootstrap functions */
@import "~bootstrap/scss/functions";

$white:         #fff;
$gray-50:       #f9f9f9;
$gray-100:      #f6f9fa;
$gray-200:      #f2f2f2;
$gray-300:      #dfdfdf;
$gray-400:      #ccc;
$gray-500:      #999;
$gray-600:      #595959;
$gray-700:      #495057;
$gray-800:      #333;
$gray-900:      #202020;
$black:         #000;
$colcon:        #ffefde;

$blue_tint_1:   #15285c;
$blue_1:        #213e8f;
$blue_2:        #6a9cda;
$blue_3:        #c5d6ec;
$blue_tint_5:   #e1eaf5;

$purple_tint_1: #3d387a;
$purple_1:      #6e69c2;
$purple_2:      #a8a4f0;
$purple_3:      #dad9f1;
$purple_tint_5: #e9e9f5;

$red_tint_1:    #a3281a;
$red_1:         #db3624;
$red_2:         #ffa49a;
$red_3:         #fddcd8;
$red_tint_5:    #ffedeb;

$green_tint_1:  #227a64;
$green_1:       #2ea386;
$green_2:       #99dbca;
$green_3:       #cef2e9;
$green_tint_5:  #e1f5f0;

$orange:        #d36300;
$yellow:        #ffc107;
$teal:          #006674;

$colors: ();

$colors: map-merge(
  (
    "blue":       $blue_1,
    "purple":     $purple_1,
    "red":        $red_1,
    "orange":     $orange,
    "yellow":     $yellow,
    "green":      $green_1,
    "teal":       $teal,
    "white":      $white,
    "gray":       $gray-600,
    "gray-dark":  $gray-800
  ),
  $colors
);

$primary:       $blue_1;
$secondary:     $gray-600;
$success:       $green_1;
$info:          $blue_2;
$warning:       $yellow;
$danger:        $red_1;
$light:         $gray-100;
$dark:          $gray-800;

$theme-colors: ();

$theme-colors: map-merge(
  (
    "primary":    $primary,
    "secondary":  $secondary,
    "success":    $success,
    "info":       $info,
    "warning":    $warning,
    "danger":     $danger,
    "light":      $light,
    "dark":       $dark,
    "colcon":     $colcon
  ),
  $theme-colors
);

// Set a specific jump point for requesting color jumps
$theme-color-interval:      8%;

// The yiq lightness value that determines when the lightness of color changes from "dark" to "light". Acceptable values are between 0 and 255.
$yiq-contrasted-threshold:  150;

// Customize the light and dark text colors for use in our YIQ color contrast function.
$yiq-text-dark:             $gray-900;
$yiq-text-light:            $white;

// Options
//
// Quickly modify global styling by enabling or disabling optional features.

$enable-caret:              true;
$enable-rounded:            true;
$enable-shadows:            false;
$enable-gradients:          false;
$enable-transitions:        true;
$enable-hover-media-query:  false; // Deprecated, no longer affects any compiled CSS
$enable-grid-classes:       true;
$enable-print-styles:       true;

// Spacing
//
// Control the default styling of most Bootstrap elements by modifying these
// variables. Mostly focused on spacing.
// You can add more entries to the $spacers map, should you need more variation.

$spacer: 1rem;
$spacers: ();
// stylelint-disable-next-line scss/dollar-variable-default
$spacers: map-merge(
  (
    0: 0,
    1: ($spacer * 0.25),
    2: ($spacer * 0.5),
    3: $spacer,
    4: ($spacer * 1.5),
    5: ($spacer * 3)
  ),
  $spacers
);

// This variable affects the `.h-*` and `.w-*` classes.
$sizes: ();
// stylelint-disable-next-line scss/dollar-variable-default
$sizes: map-merge(
  (
    25: 25%,
    50: 50%,
    75: 75%,
    100: 100%,
    auto: auto
  ),
  $sizes
);

// Body
//
// Settings for the `<body>` element.

$body-bg: $white;
$body-color: $gray-900;

// Links
//
// Style anchor elements.

$link-color: theme-color("primary") !default;
$link-decoration: none !default;
$link-hover-color: darken($link-color, 15%) !default;
$link-hover-decoration: underline !default;

// Paragraphs
//
// Style p element.

$paragraph-margin-bottom: 1rem !default;

// Grid breakpoints
//
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1201px
) !default;

// Grid containers
//
// Define the maximum width of `.container` for different screen sizes.

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1320px
);

$screen-xs-max: (map-get($grid-breakpoints, "xl") - 1);
$screen-sm-max: (map-get($grid-breakpoints, "lg") - 1);
$screen-md-max: (map-get($grid-breakpoints, "md") - 1);
$screen-xl-min: map-get($grid-breakpoints, "xl");
$screen-lg-min: map-get($grid-breakpoints, "lg");
$screen-md-min: map-get($grid-breakpoints, "md");
$screen-sm-min: map-get($grid-breakpoints, "sm");

// Grid columns
//
// Set the number of columns and specify the width of the gutters.

$grid-columns: 12;
$grid-gutter-width: 24px;

// Components
//
// Define common padding and border radius sizes and more.
$line-height-lg:              1.5 !default;
$line-height-sm:              1.5 !default;

$border-width:                2px !default;
$border-color:                $gray-300 !default;
$border-radius:               0.25rem !default;
$border-radius-lg:            0.3rem !default;
$border-radius-sm:            0.2rem !default;
$box-shadow-sm:               0 0.125rem 0.25rem rgba($black, 0.075) !default;
$box-shadow:                  0 0.5rem 1rem rgba($black, 0.15) !default;
$box-shadow-lg:               0 1rem 3rem rgba($black, 0.175) !default;
$component-active-color:      $white !default;
$component-active-bg:         theme-color("primary") !default;
$caret-width:                 0.3em !default;
$transition-base:             all 0.2s ease-in-out !default;
$transition-fade:             opacity 0.15s linear !default;
$transition-collapse:         height 0.35s ease !default;

// Fonts
//
// Font, line-height, and color for body text, headings, and more.

// stylelint-disable value-keyword-case

$custom-control-indicator-active-bg: $orange;
$custom-control-indicator-checked-bg: $orange;

$headings-font-family: 'FS Me Web Regular', Arial, Verdana, sans-serif;
// $font-family-sans-serif: 'FS Me Web Regular', Arial, Verdana, sans-serif;

$font-size-base: 0.9rem;
$card-border-width: 0;
$card-border-radius: $border-radius;
$card-border-color: transparent;
$card-spacer-x: 0.625rem;

$breadcrumb-padding-y: 0.5rem;
$breadcrumb-padding-x: 0;
$breadcrumb-border-radius: 0;
$breadcrumb-margin-bottom: 0;
$breadcrumb-bg: transparent;
$breadcrumb-active-color: $blue_1;
$breadcrumb-divider: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI4IiBoZWlnaHQ9IjgiPjxwYXRoIGQ9Ik0yLjUgMEwxIDEuNSAzLjUgNCAxIDYuNSAyLjUgOGw0LTQtNC00eiIgZmlsbD0iY3VycmVudENvbG9yIi8+PC9zdmc+);

$list-group-bg: transparent;
$list-group-item-padding-y: 0.5rem;
$list-group-item-padding-x: 0.5rem;

$alert-border-radius: 0;
$alert-bg-level: -10;
$alert-border-level: -9;
$alert-color-level: 6;

$lead-font-weight: 500;

/* Forms */
$input-border-color: $gray-500;
$input-border-width: 2px;

$lead-font-size: 1.5rem;
$lead-font-weight: 600;
$headings-font-weight: 600;

/* Alerts */
$alert-margin-bottom: 0;
$alert-border-width: 0;
