footer {
  .footerTop {
    background: $blue_1;
    min-height: 25rem;
    color: $white;

    &__h3 {
      font-size: 1rem;
    }

    &__list {
      &-item {
        padding: 0.25rem 0;
        font-size: 0.8rem;
      }

      &-link {
        color: $white;
      }
    }
  }

  .footerBottom {
    &__p {
      font-weight: bold;
    }

    &__btn {
      width: 2.625rem;
      height: 2.625rem;
      font-size: 1.25rem;
    }
  }
}
