.home {
  // background: url('images/Motability -  homepage - v9.png') no-repeat top center;
  // height: 8000px;
}

.about {
  background: url('images/Motability -  about - v3.png') no-repeat top center;
  height: 8000px;
}

.contact {
  background: url('images/Motability -  contact - v4.2.png') no-repeat top center;
  height: 8000px;
}

.products {
  background: url('images/Motability -  products - v4.png') no-repeat top center;
  height: 8000px;
}

.lease {
  background: url('images/Motability -  your lease - v4.png') no-repeat top center;
  height: 8000px;
}

.news {
  background: url('images/Motability - news - v4.png') no-repeat top center;
  height: 8000px;
}
