.main {
    margin: 15px;
    max-width: 600px;
    line-height: 1.4;
    font-family: "Helvetica Neue", Helvetica, "Segoe UI", Arial, freesans, sans-serif;
}

.logo {
    width: 256px;
    margin: 15px;
}

.code {
    font-size: 15px;
    font-weight: 600;
    padding: 2px 5px;
    border: 1px solid #eae9e9;
    border-radius: 4px;
    background-color: #f3f2f2;
    color: #3a3a3a;
}

.btn {
  background: #000;
  color: #3a3a3a;
}
